<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunlinker.azjy"
    android:versionCode="1"
    android:versionName="1.0.2">

    <!-- <uses-sdk android:minSdkVersion="19"></uses-sdk> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="mobile.android.ch16.google.map.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- 硬件加速对X5视频播放有利，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <permission
        android:name="mobile.android.ch16.google.map.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />



    <application
        android:name="com.yunlinker.myApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:name"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1107591572" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
<!--        <activity-->
<!--            android:name="com.alipay.sdk.app.H5PayActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|navigation|screenSize"-->
<!--            android:exported="false"-->
<!--            android:screenOrientation="behind"-->
<!--            android:windowSoftInputMode="adjustResize|stateHidden" />-->
<!--        <activity-->
<!--            android:name="com.alipay.sdk.app.H5AuthActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|navigation"-->
<!--            android:exported="false"-->
<!--            android:screenOrientation="behind"-->
<!--            android:windowSoftInputMode="adjustResize|stateHidden" />-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <!-- facebook -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 1104087112943046 -->
        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider637758443238130"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- Twitter -->
        <activity
            android:name="com.umeng.socialize.handler.TwitterWebActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name="com.yunlinker.zxing.android.CaptureActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="j81YIc1wBubF08Q5nOfcVRe4Gh7qSNpO" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c1c414ff1f5561727000d9a" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="0925bbcc452bebcb6bc27509c2975243" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="OnlineApp" />

        <activity
            android:name=".MapViewActivity"
            android:screenOrientation="portrait">

        </activity>


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />





        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />



<!--        <uses-library android:name="com.google.android.maps"/>-->

<!--        <uses-feature android:glEsVersion ="0x00020000"-->
<!--                      android:required="true"-->
<!--                       />-->



        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <activity android:name=".PayPalActivity"></activity>
    </application>

</manifest>